@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--fondo-principal);
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

button {
    border: none;
    background: none;
}

.logo1 {
    color: red;
    font-size: 20px;
}

.logo2 {
    color: #ffffff;
    font-size: 18px;
}

/* --- --- Estilo de header --- --- */
header {
    background: var(--fondo-header);
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
}

header .header {
    max-width: 1300px;
    width: 90%;
    height: 100%;
    margin: auto;
}

header .header .grid-header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logotipo link buscador";
}

/* header logotipo */
.header .grid-header .sec-logotipo {
    grid-area: logotipo;
}

header .header .grid-header .sec-logotipo .btn-menu {
    font-size: 1.2em;
    margin-right: 15px;
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.3);
    color: var(--color-2);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    display: none;
}

header .header .grid-header .sec-logotipo .btn-menu:hover {
    /* background: var(--color-2); */
    color: var(--color-1);
    cursor: pointer;
}

/* header link */
header .header .grid-header .sec-link {
    grid-area: link;
}

header .header .grid-header .sec-link .grid-link {
    width: 80%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    justify-content: end;
    align-items: center;
    grid-template-columns: repeat(4, auto);
}

header .header .grid-header .sec-link .grid-link > a,
header .header .grid-header .sec-link .grid-link > a > i {
    font-size: 1em;
    transition: all 0.3s ease;
}

header .header .grid-header .sec-link .grid-link > a > i {
    margin-right: 5px;
    color: var(--color-2);
}

header .header .grid-header .sec-link .grid-link > a:hover,
header .header .grid-header .sec-link .grid-link > a:hover i {
    color: var(--color-3);
    transform: scale(1.1);
}

/* header buscador */
header .header .grid-header .sec-buscador {
    grid-area: buscador;
}

header .header .grid-header .sec-buscador .btn-buscador {
    color: var(--color-3);
    font-size: 1.3em;
    transition: all 0.3s ease;
}

header .header .grid-header .sec-buscador .btn-buscador:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* --- --- Estilo de nav --- --- */
nav {
    position: fixed;
    top: 60px;
    left: -100%;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
/* nav.active {
    left: 0;
} */

nav .nav-con {
    width: 40%;
    height: 100%;
    background: var(--fondo-header);
}

nav .nav-con .nav-sec-link {
    padding-top: 20px;
}

nav .nav-con .nav-sec-link > a{
    display: block;
    /* margin: 20px 0; */
    padding: 20px 0;
}

nav .nav-con .nav-sec-link > a:hover {
    background: rgba(0, 0, 0, 0.3);
    color: var(--color-2);
}

nav .nav-con .nav-sec-link > a:hover i {
    transform: scale(1.1);
    color: var(--color-3);
}

nav .nav-con .nav-sec-link > a i {
    margin-left: 30px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

/* --- --- @media from 650px --- --- */
@media screen and (max-width: 650px) {
    /* --- --- Estilo de header --- --- */
    header .header .grid-header {
        grid-template-columns: auto auto;
        grid-template-areas: "logotipo buscador";
    }
    
    header .header .grid-header .sec-logotipo .btn-menu {
        display: inline-block;
    }

    header .header .grid-header .sec-logotipo .logo1 {
        font-size: 24px;
    }
    
    header .header .grid-header .sec-logotipo .logo2 {
        font-size: 22px;
    }

    header .header .grid-header .sec-link {
        display: none;
    }


    /* --- --- Estilo de nav --- --- */
    nav.active {
        left: 0;
    }
}