:root {
    /* Tema dark*/
    --fondo-principal: #3b3939;
    --fondo-header: #1f1d1d;
    --fondo-footer: #161515;

    --color-1: #ffffff;
    --color-2: #b4b4b4;
    --color-3: #ff0000;
}